
.myInput{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
}
.myInput:focus{
    box-shadow: 0px 0px 5px #3ba4d1;
    outline: none;
}