.root{
    /*-=-=-TEXT-=-=-*/
    --subnormal-size:14px;
    --normal-size:15px;
    --header-size:42px;
    --part-size: 30px;
    /*-=-=--=-=-*/
    --primary-color:#3ba4d1;

    font-size: var(--normal-size);

    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}

hr{
    width: 100%;
}

.title{
    font-weight: 900;
    color: var(--primary-color);
    text-align: center;
    font-size: var(--part-size);
}

td{
    padding: 5px;
    font-size: 20px;
    text-align: start;
}

.bold{
    font-weight: 800;
}

.acceptance{
    display: flex;
    gap:10px;
    align-self: flex-start;
    align-items: center;
}
.acceptance__text{
    font-size: var(--subnormal-size);
    color: gray;
}

.finishBtn{
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    background-color: var(--primary-color);
    border: none;
    font-size: var(--part-size);
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}
.finishBtn:hover:not(:disabled){
    box-shadow: 0px 0px 10px #004b93;
    transition: all 0.4s ease 0s;
}
.finishBtn:disabled{
    background-color: gray;
    cursor:default;
}